@CHARSET "UTF-8";
#modx-topbar{border-bottom: 2px solid #4644A4;}
#bos-main-blocks h2 a,h2.titulo v ,.colorcito{color: #4644A4;}
#menu-left ul li a:hover,#menu-left ul li:hover {color:#fff; background: #35338A; font-weight: bold; }
html #modx-topnav ul.modx-subnav li a:hover {background-color: #35338A;}
input#searchsubmit:hover {background-color: #4644A4;}
#modx-logo a.nombre{background: url("/media/images/user_azul.png") left no-repeat; padding-left: 18px;  }
.button2{
    border: 1px solid #252382;
    text-shadow: 0 1px 1px #252382;
    background:#252382;
   background: -webkit-linear-gradient(top, #252382, #2F2D8D);
   background:    -moz-linear-gradient(top, #252382, #2F2D8D);
   background:     -ms-linear-gradient(top, #252382, #2F2D8D);
   background:      -o-linear-gradient(top, #252382, #2F2D8D);
}
.button2:hover, .button2:focus {
    border-color: #2F2D8D;
   background:#252382;
    background: -webkit-linear-gradient(top, #252382, #2F2D8D);
   background:    -moz-linear-gradient(top, #252382, #2F2D8D);
   background:     -ms-linear-gradient(top, #252382, #2F2D8D);
   background:      -o-linear-gradient(top, #252382, #2F2D8D);
}
.jOrgChart .node {
  background-color 	: #4644A4;
}